    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Readers</h1>
                            <img src="/assets/img/goRead.png" alt="GO Read!" class="img-responsive">
                            <br>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Families -->
    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">For Families</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- Educators -->
    <section id="features" class="features text-center">
    <!-- <section id="download" class="download bg-primary text-center"> -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">For Educators</h2>
                </div>
            </div>
        </div>
    </section>



    <section id="contact" class="contact">
        <div class="container">
            <h2>We <i class="fa fa-heart"></i> new friends!</h2>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </section>